//===========================================
	// -Variables start
//===========================================

// Colors start
$white:			#fcfcfc; //white
$black:			#030303; //black
$mine-shaft:	#3a3a3a; // dark gray
$font-another: #9a9a9a;
$red:	#fb3644; // Default Brand Color and icons color
$page-background: #212121;
$border-color: #4a4a4a;//nav border
$div-color: #1c1c1c;//showcase products divs
$featured-product-bg: #282828;
$btn-bg: #9c1c28;

// Typography
$font-default:	'Lato', sans-serif;;
$font-primery:	'ostrichsansinlineregular', sans-serif;

// Break Pointss
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

//===========================================
	// -Variables end
//===========================================
